<ion-header>
  <ion-navbar>
    <ion-title>Notes:{{notes.length}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    
  <ion-list no-lines>
      <ion-item *ngFor="let note of notes">
        
      <ion-card (swipe)="deleteNote(note.name)" (tap)="viewNote(note.name)">      
        <ion-card-title>{{note.name}}</ion-card-title>    
         
            <!-- <ion-card-header>
                
            </ion-card-header> -->
            <ion-card-content>
              {{note.content}}
            </ion-card-content>
            <!-- <ion-item *ngFor="let image of note.images" >
                <img src="{{image}}" />
              </ion-item> -->
          </ion-card>
        </ion-item>  
    <!--<button ion-item *ngFor="let note of notes" (click)="noteSelected(note)">
      {{note.name}}      
    </button> -->
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
